@import{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
}

* {
    font-family: "Poppins", sans-serif;

}
/* header styles */

.section-title{
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav >ul{
    display: flex;
}
nav li{
   list-style: none;
   font-weight: 600;
   margin-right: 30px;
   font-size: 1rem;

}
nav li a{
    text-decoration: none;

}

/* Banner-Styles */

.banner{
    display: flex;

}
.banner-title{
    width: 580px;
    top: 285px;
    text-align: left;
    font-size: 3.4rem;
    font
   
}